<% include includes/header %>

	<section class="seriesInfo">
		<div class="seriesSm" style="background-image: url(' <%= series.thumbnail %> ')">
		</div>
		<h1 class="seriesName">
			<%= series.name %>
		</h1>
		<span class="border"></span>
	</section>
	<section class="comicCont">
		<% for(var i = 0; i < comics.length; i++) { %>
			<div class="comicWrapper">
				<a href="/comic/<%= comics[i].comicID %>">
					<div class="comic" style="background-image: url('<%= comics[i].thumbnail %>')">
						<span> 
							<%= comics[i].name %>
						</span>
					</div>
				</a>
				<% if(user && read.indexOf(comics[i].comicID) > -1) {%>
						<a href="/read/<%= comics[i].comicID %>" class="readButton read">Read</a>
				<% } else if(user) {%>
						<a href="/read/<%= comics[i].comicID %>" class="readButton">Read</a>
				<% } %>
			</div>
		<% } %>
	</section>

<% include includes/footer %>