<% include includes/header %>


	<section class="characterInfo">
		<div class="characterHead" style="background-image: url(' <%= character.thumbnail %> ')"></div>
		<h1 class="characterName">
			<%= character.name %>
		</h1>
		<span class="border"></span>
	</section>
	<section class="seriesSection">
		<% for(var i = 0; i < series.length; i++) { %>
		<% var index = 0; %>
			<% for(var j = 0; j < series[i].comics.length; j++) { %>
				<% if(read.indexOf(parseInt(series[i].comics[j])) > -1) { %>
					<% index++ %>
				<% } %>
			<% } %>
			<% if(series[i].numOfComics > 1) { %>
				<div class="seriesCont">
					<a href="/series/<%= series[i].seriesID %>">
						<div class="series" style="background-image: url(' <%= series[i].thumbnail %> ')">
							<span> 
								<%= series[i].name %> 
							</span>
						</div>
						<% if(typeof user !== "undefined"){ %>
							<span class="progress">
								Progress: <%= index %>/<%= series[i].numOfComics %>
							</span>
						<div class="meter">
							<span style="width: <%= (index / series[i].numOfComics)* 100%>%">
								<!-- Width Changes To Increase Progress Bar-->
							</span>
						</div>
						<% } %>
					</a>
				</div>
			<% } %>
		<% } %>
	</section>


<% include includes/footer %>